.log-in-like-header{
    width: 100%;
    border-radius: 10px;
    font-style: normal;
    font-size: 40px;
    line-height: 77px;
    text-align: center;
  
    color: #FFFFFF;
    /*padding-top: 20px;*/
  }

  @media screen and (max-width: 1000px) {
    .log-in-like-header {
      text-align: center;
      padding: 0;
      margin: 0;
    }
}
