.nav__ref-button {
   /* box-sizing: border-box; */
   width: 5px;
   height: 10px;
   padding: 5px 10px;
   border: 1px solid #56A3A6;
   margin: 10px 20px;
   background-color: #56A3A6;
   color: #FBFBF2;
   text-decoration: none;
   border-radius: 10px;
   min-width: 70px;
   min-height: 30px;
   text-align: center;
   letter-spacing: 0;
   line-height: 0;
}

.nav__item:active .nav__ref-button{
    background-color: #2B7085;
}