body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background: #FBFBF2;
    margin:0px;
    display: block;
    text-align: center;
  }
  
  .page-log-in__main{
    width: 700px;
    height: 400px;
    background: #2C2C34;
    border-radius: 10px;
    margin:auto;
    margin-top: 5%;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .auth-data__header{
    width: 100%;
    border-radius: 10px;
    font-style: normal;
    font-size: 40px;
    line-height: 77px;
    text-align: center;
  
    color: #FFFFFF;
    /*padding-top: 20px;*/
  }
  
  .form__input-field{
    width: 400px;
    height: 35px;
    background: #FBFBF2;
    border-radius: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 39px;
    /* identical to box height */
  
    text-align: left;
  
    color: #8D8C95;
    margin-top:20px;
    padding-left: 10px;
  
  }
  
  .main__form{
    text-align: center;
  }
  
  .form__submit-btn{
    width: 200px;
    height: 30px;
    border:0;
  
    background: #56A3A6;
    border-radius: 10px;
    margin-top: 35px;
    padding:0;
  }
  
  .submit-btn__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
  
    text-align: center;
  
    color: #FBFBF2;
  }
  .auth-data__footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .auth-data__footer__link{
    text-decoration: none;
  
    width: 200px;
    height: 30px;
  
    background: #56A3A6;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
  
    text-align: center;
  
    color: #FBFBF2;
  
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
  
  }
  
  /*Mobile version styles*/
  @media screen and (max-width: 1000px) {
    .page-log-in__main{
      width: 80%;
      height: 400px;
    }
  
    .auth-data__header {
      text-align: center;
      padding: 0;
      margin: 0;
    }
  
    .form__input-field{
      width: 90%;
    }
  }
  
  