body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background: #FBFBF2;
    margin:0px;
    display: block;
    text-align: center;
  }
  
  .page-profile__main{
    width: 700px;
    height: 400px;
    background: #2C2C34;
    border-radius: 10px;
    margin:auto;
    margin-top: 5%;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  
  }
  
  .profile-image{
    width:100px;
    margin-top: 10px;
  }
  
  .button-edit{
    text-decoration: none;
    width: 150px;
    height: 30px;
  
    background: #56A3A6;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
  
    text-align: center;
  
    color: #FBFBF2;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
  }
  
  .information-list{
    list-style-type: none;
    margin: 0;
    padding: 4px;
    display: inline-flex;
    flex-direction: column;
  }
  
  .information-list__item{
    display: inline-flex;
    width: 400px;
    height: 35px;
  
    background: #FBFBF2;
    border-radius: 10px;
  
    font-weight: 400;
    font-size: 15px;
    line-height: 39px;
    /* identical to box height */
  
    text-align: center;
  
    color: #5D5C66;
    /*justify-content: center;*/
    align-content: center;
    align-items: center;
    padding-left: 10px;
    margin-top: 30px;
  }
  
  @media screen and (max-width: 1000px) {
    .page-profile__main{
      width: 80%;
      height: 400px;
    }
  
  
  
    .information-list__item{
      width: 350px;
    }
  }
  